<div class="w-full flex flex-col gap-2 h-full">
  <div class="w-full flex justify-between">
    <p-selectbutton [options]="stateOptions" [(ngModel)]="selectedTabIndex" optionLabel="label" optionValue="value"
      aria-labelledby="basic" [allowEmpty]="false" />
    <p-button severity="primary" size="small" variant="outlined" (click)="openedCreateModDrawer.set(true)"
      class="shrink-0">
      <span class="material-symbols-outlined">add</span>
      Create
    </p-button>
  </div>
  <hr class="opacity-10">
  <p-tabs [(value)]="selectedTabIndex" class="block max-w-full grow">
    <p-tabpanels class="m-0">
      <p-tabpanel [value]="0">
        <div class="h-full flex flex-col gap-2">
          <div class="w-full shrink-0">
            <input type="text" pInputText [(ngModel)]="searchString" placeholder="Search"
              class="w-full rounded-xl border-primary/20 focus:border-primary" />
          </div>
          <div class="flex flex-col gap-2 h-full overflow-auto grow">
            @for (mod of myModList; track mod.id) {
              <app-mod-card [modData]="mod" />
            }
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel [value]="1">
        hey
      </p-tabpanel>
      <p-tabpanel [value]="2">
        hey
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>


<p-drawer [(visible)]="openedCreateModDrawer" header="Create Mod" [style]="{ width: '50vw' }" [modal]="true"
  [closeOnEscape]="true" [position]="'right'" [dismissible]="false">
  @defer {
    <app-mod-manage class="block h-full w-full"></app-mod-manage>
  }
</p-drawer>
