<div class="w-full flex flex-col gap-2 h-full">
  <div class="w-full flex justify-between flex-wrap gap-2">
    <p-selectbutton [options]="stateOptions" [(ngModel)]="selectedTabIndex" optionLabel="label" optionValue="value"
      aria-labelledby="basic" [allowEmpty]="false" />
    <p-button severity="primary" size="small" variant="outlined"
      class="shrink-0 ml-auto" (onClick)="onCreate()">
      <span class="material-symbols-outlined">add</span>
      Create
    </p-button>
  </div>
  <hr class="opacity-10">
  <p-tabs [(value)]="selectedTabIndex" class="block max-w-full grow">
    <p-tabpanels class="m-0">
      <p-tabpanel [value]="0">
        <div class="h-full flex flex-col gap-2">
          <div class="w-full shrink-0">
            <input type="text" pInputText [(ngModel)]="searchString" placeholder="Search"
              class="w-full rounded-xl border-primary/20 focus:border-primary" />
          </div>
          <div class="flex flex-col gap-2 h-full overflow-auto grow">
            <!-- @for (mod of myModList(); track mod.id) {
              <app-mod-card [modData]="mod" />
            } -->
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel [value]="1">
        <div class="h-full flex flex-col gap-2">
          <div class="w-full shrink-0">
            <input type="text" pInputText [(ngModel)]="searchString" placeholder="Search"
              class="w-full rounded-xl border-primary/20 focus:border-primary" />
          </div>
          <div class="flex flex-col gap-2 h-full overflow-auto grow">
            @for (mod of myModList(); track mod.id) {
              <app-mod-card [modData]="mod" />
            }
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel [value]="2">
        <div class="size-full flex items-center justify-center h-full flex-col gap-4">
          <span class="material-symbols-outlined text-[100px]! text-primary/50">
            upcoming
          </span>
          <span class="text-2xl text-primary/50 text-center">
            Coming Soon! <br>
            <small class="text-primary/30">Stay tuned for updates.</small>
          </span>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>

<p-confirmdialog />
