<div class="w-full flex flex-col gap-2 h-full">
  <div class="w-full flex justify-between flex-wrap gap-2">
    <p-selectbutton [options]="stateOptions" [(ngModel)]="selectedTabIndex" optionLabel="label" optionValue="value"
      aria-labelledby="basic" [allowEmpty]="false" />
    <p-button severity="primary" size="small" variant="outlined"
      class="shrink-0 ml-auto" (onClick)="onCreate()">
      <span class="material-symbols-outlined">add</span>
      Create
    </p-button>
  </div>
  <hr class="opacity-10">
  <p-tabs [(value)]="selectedTabIndex" class="block max-w-full grow min-h-0">
    <p-tabpanels class="m-0">
      <p-tabpanel [value]="0">
        <div class="h-full flex flex-col gap-2">
          <div class="w-full shrink-0">
            <!-- <input type="text" pInputText [(ngModel)]="searchString" placeholder="Search"
              class="w-full rounded-xl border-primary/20 focus:border-primary" /> -->
              <span class="text-sm font-semibold opacity-50">
                Shows last {{modService.recentLimit}} mods you have ran
              </span>
          </div>
          <div class="flex flex-col gap-2 h-full overflow-auto grow">
            @for (mod of recentMods(); track mod.id) {
              <app-mod-card [modData]="mod" />
            } @empty {
              <div class="size-full flex items-center justify-center h-full flex-col gap-4">
                <span class="material-symbols-outlined text-[100px]! text-primary/50">
                  history
                </span>
                <span class="text-2xl text-primary/50 text-center">
                  Nothing yet! <br>
                  <small class="text-primary/30">
                    Start running mods to see your recent activity here.
                  </small>
                </span>
              </div>
            }
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel [value]="1">
        <div class="h-full flex flex-col gap-2">
          <div class="w-full shrink-0">
            <input type="text" pInputText [formControl]="myModSearchCtrl" placeholder="Search"
              class="w-full rounded-xl border-primary/20 focus:border-primary" />
          </div>
          <div class="flex flex-col gap-2 h-full overflow-auto grow">
            @for (mod of myModResource.value(); track mod.id) {
              <app-mod-card [modData]="mod" />
            } @empty {
              <div class="size-full flex items-center justify-center h-full flex-col gap-4">
                <span class="material-symbols-outlined text-[100px]! text-primary/50">
                  {{myModResource.isLoading() ? 'hourglass_top' : 'data_object'}}
                </span>
                @if (!myModResource.isLoading()) {
                  <span class="text-2xl text-primary/50 text-center">
                    Nothing yet! <br>
                    <small class="text-primary/30">
                      @if (publicListParams.searchStr()) {
                        Try adjusting your search criteria.
                      } @else {
                        Create your first mod to see it here.
                      }
                    </small>
                  </span>
                }
              </div>
            }
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel [value]="2">
        <div class="h-full flex flex-col gap-2 overflow-auto min-h-0">
          <div class="w-full shrink-0">
            <input type="text" pInputText [formControl]="publicModSearchCtrl" placeholder="Search"
              class="w-full rounded-xl border-primary/20 focus:border-primary" />
          </div>
          <div class="flex flex-col gap-2 h-full overflow-auto grow shrink min-h-0">
            @for (mod of publicResource.value()?.items || []; track mod.id) {
              <app-mod-card [modData]="mod" />
            } @empty {
              <div class="size-full flex items-center justify-center h-full flex-col gap-4">
                <span class="material-symbols-outlined text-[100px]! text-primary/50">
                  {{publicResource.isLoading() ? 'hourglass_top' : 'upcoming'}}
                </span>
                @if (!publicResource.isLoading()) {
                  <span class="text-2xl text-primary/50 text-center">
                    No public mods found <br>
                    <small class="text-primary/30">
                      @if (publicListParams.searchStr()) {
                        Try adjusting your search criteria.
                      } @else {
                        When someone makes a public mod, it will appear here.
                      }
                    </small>
                  </span>
                }
              </div>
            }
          </div>
          <p-paginator (onPageChange)="loadNextPublicPage($event)" [first]="0" [rows]="10" [totalRecords]="publicResource.value()?.totalItems || 0"
            [rowsPerPageOptions]="[10, 20, 30]" />
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>

<p-confirmdialog />
