.toastify.success-toast-clipMods {
  color: #4CAF50 !important;
  background: var(--p-surface-900) !important;
  border-radius: 12px;
  border: 2px solid #4CAF50;

  .toast-close {
    color: white !important;
    margin-left: 12px;
  }
}

.error-toast-clipMods {
  color: #d9534f !important;
  background: var(--p-surface-900);
  border-radius: 12px;
  border: 2px solid #d9534f;

  .toast-close {
    color: white !important;
    margin-left: 12px;
  }
}
