<div class="flex gap-4 items-center">
  <div class="option-card flex gap-4 items-center border border-primary/10">
    <label for="multipleMode">Multi-line Mode</label>
    <span class="material-symbols-outlined"
       pInputText pTooltip="Execute mod for each line separately" tooltipPosition="top" appendTo="body">help</span>
    <p-toggleswitch inputId="multipleMode" [(ngModel)]="modOptions().multipleMode" (ngModelChange)="onOptionChange('multipleMode')" />
  </div>
  <div class="option-card flex gap-4 items-center border border-primary/10">
    <label for="autoCopy">Auto Copy to Clipboard</label>
    <span class="material-symbols-outlined"
    pInputText pTooltip="Automatically copy the result to clipboard" tooltipPosition="top" appendTo="body">help</span>
    <p-toggleswitch inputId="autoCopy" [(ngModel)]="modOptions().autoCopy" (ngModelChange)="onOptionChange('autoCopy')" />
  </div>
  <div class="option-card flex gap-4 items-center border border-primary/10 py-1! pr-1! [&_*]:border-primary/10 overflow-clip">
    <label for="autoCopy">No. of Inputs</label>
    <div class="flex gap-2 items-start flex-col">
      <!-- <label for="horizontal" class="text-sm">No. of Inputs</label> -->
      <p-inputnumber [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
        inputStyleClass="w-12 text-center" [min]="1" [(ngModel)]="modOptions().inputCount" (ngModelChange)="onOptionChange('inputCount')">
        <ng-template #incrementbuttonicon>
          <span class="material-symbols-outlined">add</span>
        </ng-template>
        <ng-template #decrementbuttonicon>
          <span class="material-symbols-outlined">remove</span>
        </ng-template>
      </p-inputnumber>
    </div>
  </div>
</div>
