<div class="mod-card w-full rounded-xl border border-primary/20 p-4 bg-secondary/5"
  [class.opacity-75]="!isMatchingInputCount()">
  <div class="w-full flex justify-between items-start gap-1">
    <div class="m-0 text-base">{{modData().name}}</div>
    <div class="shrink-0 flex gap-2 -mt-1">
      <p-button size="small" severity="secondary" variant="outlined" pTooltip="View Code" tooltipPosition="top"
        appendTo="body" [showDelay]="500">
        <span class="material-symbols-outlined">code</span>
      </p-button>
      <p-button size="small" severity="success" variant="outlined"
        appendTo="body" [showDelay]="500" (onClick)="runMod()" tooltipPosition="top"
          [pTooltip]="'Run Mod'"
          [hidden]="!isMatchingInputCount()">
        <span class="material-symbols-outlined">play_arrow</span>
      </p-button>
    </div>
  </div>
  <p class="m-0 text-sm text-secondary opacity-50 -mt-0.5">{{modData().description}}</p>
  <div class="flex gap-2 opacity-50 mt-2">
    <small class="badge border border-primary/10"
      [ngClass]="isMatchingInputCount() ? 'bg-green-500/30!' : 'bg-red-500/50!'">
      {{modData().inputCount}} Inputs
    </small>
    <small class="badge border border-primary/10">V{{modData().version}}</small>
    @if (modData().lastUsed) {
      <small class="badge border border-primary/10">Last Used: {{modData().lastUsed | date: 'd/M/yyyy h:mm a'}}</small>
    } @else {
      <small class="badge border border-primary/10">Updated: {{modData().updated | date: 'd/M/yyyy h:mm a'}}</small>
    }
  </div>
</div>
