:host {
  --p-fieldset-legend-background: transparent;

  ::ng-deep {
    .editor-container {
      border-radius: 12px;
      overflow: clip;
    }

    .readonly-decoration {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }

  .err-msg {
    color: #d9534f;
    font-size: 0.875rem;
  }
}
