<div class="size-full flex gap-4 min-h-0">
  <div class="h-full grow flex flex-col gap-4">
    <div class=" rounded-2xl w-full">
      <p-fieldset legend="Options" styleClass="main-bg-color -mt-5 rounded-2xl" class="h-full">
        @defer {
          <app-paste-options class="block w-full" [modOptions]="modRunOptions" (optionChanged)="onOptionChanged($event)" />
        }
      </p-fieldset>
    </div>
    <div class="w-full grow min-h-0 flex gap-4 h-full">
      <div class="rounded-2xl grow h-full min-h-0 w-1/2 min-w-0">
        <p-fieldset legend="Input(s)" styleClass="main-bg-color -mt-5 rounded-2xl h-full w-full min-w-0 min-h-0"
          class="h-full block">
          <div class="flex flex-col gap-2 h-full overflow-auto pr-1">
            @for (i of getIterableOf(modRunOptions.inputCount()); track $index) {
              <textarea class="w-full min-w-0 rounded-2xl border border-primary/20 shrink-0 grow"
                [(ngModel)]="inputArgs()[$index]" placeholder="Input {{ $index + 1 }}"
                [ngClass]="modRunOptions.inputCount() > 1 ? 'min-h-[30%]' : 'min-h-full'"></textarea>
            }
          </div>
        </p-fieldset>
      </div>
      <div class="rounded-2xl grow min-h-0 w-1/2 min-w-0">
        <p-fieldset legend="Result" styleClass="main-bg-color -mt-5 rounded-2xl h-full w-full min-w-0 min-h-0"
          class="h-full block">
          <div class="size-full">
            <textarea class="w-full h-full min-w-0 rounded-2xl border border-primary/20"
            placeholder="Result will be shown here" readonly [value]="result()"></textarea>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
  <div class="h-full w-[400px] flex flex-col gap-4 min-h-0">
    @let summaryInfo = (modSummary$ | async);
    <p-fieldset legend="Summary" styleClass="main-bg-color rounded-2xl h-full min-w-0" class="block -mt-5">
      @if (summaryInfo) {
        <div class="flex justify-between items-start gap-4">
          <div class="grow min-w-0 flex flex-col gap-1">
            <p class="text-sm text-secondary opacity-75">
              Last run was
              <span [ngClass]="summaryInfo.success ? 'text-green-500' : 'text-red-500'">
                {{ summaryInfo.success ? 'Success' : 'Failed' }}
              </span>
            </p>
            <p class="text-sm text-secondary opacity-75">
              It took <span class="text-primary">{{ summaryInfo.duration }}</span>
            </p>
            @if (!summaryInfo.success) {
              <p class="text-sm text-red-500">Error: {{ summaryInfo.error }}</p>
            }
          </div>
          @if (result()) {
            <div class="shrink-0" tooltipPosition="top" pTooltip="Copy Result" showDelay="500">
              <p-button variant="outlined" icon="pi pi-copy" aria-label="Save"
                (onClick)="copyResultToClipboard()"/>
            </div>
          }
        </div>
      } @else {
        <p class="text-sm text-secondary opacity-75">No mod has been ran yet.</p>
      }
    </p-fieldset>
    <p-fieldset legend="Mods" styleClass="main-bg-color -mt-5 rounded-2xl grow min-w-0 min-h-0" class="h-full block min-h-0 [&_.p-fieldset]:h-full">
      @defer {
        <app-mods-container class="w-full h-full block min-h-0" />
      }
    </p-fieldset>
  </div>
</div>

<p-dialog header="Mod Execution Failed" [modal]="true" [(visible)]="modErrDialogConfig().visible" [closable]="true"
  [dismissableMask]="true" [style]="{ width: 'auto', minWidth: '36rem', maxWidth: '90vw' }">
  <div class="w-full">
    <p
      class="text-base font-semibold mb-2 text-red-500 border border-red-500/50 bg-red-950/30 p-6 rounded-lg flex gap-4 items-start max-w-2xl">
      <span class="material-symbols-outlined">
        error
      </span>
      Error: {{ modErrDialogConfig().error }}
    </p>
  </div>
  <div class="flex justify-end gap-2 mt-4">
    <p-button label="Close" severity="secondary" (click)="closeErrorDialog()" />
  </div>
</p-dialog>

<!-- a p-sidebar just with monaco editor for previewing a selcted code -->
