.main-bg-color {
  background-color: var(--p-content-background)
}

:host {
  --p-fieldset-legend-background: transparent;

  ::ng-deep {
    .p-fieldset {
      display: flex;
      flex-direction: column;

      .p-fieldset-content-container {
        flex-grow: 1;
        flex-shrink: 1;
        min-height: 0;

        .p-fieldset-content {
          height: 100%;
          // overflow: auto;
        }
      }
    }

    .editor-container {
      border-radius: 12px;
      overflow: clip;
    }
  }
}

textarea {
  padding: 12px;

  &::placeholder {
    opacity: 0.3;
  }
}
