@use './styles/fonts' as *;
@use './tailwind' as *;
@use "toastify-js/src/toastify.css" as *;
@use './styles/toast' as *;

:root {
  font-size: 14px;
}

body {
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

router-outlet {
  &+* {
    display: block;
    width: 100%;
    height: 100%;
  }
}
