@use './styles/fonts';
@use './tailwind';
@use "toastify-js/src/toastify.css";
@use './styles/toast';

:root {
  font-size: 14px;
}

body {
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

router-outlet {
  &+* {
    display: block;
    width: 100%;
    height: 100%;
  }
}
